* {
  margin: 0;
  padding: 0px;
}

body {
  background-color: #782399;
  color: #f3f3f3;
  font-family: poppins, serif;
}

button {
  border-radius: 4px;
  height: 35px;
  width: 65px;
  border: none;
  border-bottom: 3px solid #c445f7;
  font-size: 1em;
  cursor: pointer;
  margin: 20px;
}

button:hover {
  color: #c445f7;
}

.heading,
.instructions {
  text-align: center;
  padding: 20px;
  font-size: 1.1em;
}

#startbtn,
#controls {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border: none;
}

#startbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#controls {
  display: none;
}

#cards {
  position: absolute;
  bottom: 220px;
}

#cards > div:hover {
  z-index: 2;
  cursor: pointer;
}

.heart-1 {
  background-image: url("./playingCards/heart-1.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.heart-2 {
  background-image: url("./playingCards/heart-2.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.heart-3 {
  background-image: url("./playingCards/heart-3.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.heart-4 {
  background-image: url("./playingCards/heart-4.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.heart-5 {
  background-image: url("./playingCards/heart-5.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.heart-6 {
  background-image: url("./playingCards/heart-6.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.heart-7 {
  background-image: url("./playingCards/heart-7.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.heart-8 {
  background-image: url("./playingCards/heart-8.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.heart-9 {
  background-image: url("./playingCards/heart-9.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.heart-10 {
  background-image: url("./playingCards/heart-10.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.heart-11 {
  background-image: url("./playingCards/heart-11.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.heart-12 {
  background-image: url("./playingCards/heart-12.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.heart-13 {
  background-image: url("./playingCards/heart-13.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.club-1 {
  background-image: url("./playingCards/club-1.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.club-2 {
  background-image: url("./playingCards/club-2.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.club-3 {
  background-image: url("./playingCards/club-3.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.club-4 {
  background-image: url("./playingCards/club-4.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.club-5 {
  background-image: url("./playingCards/club-5.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.club-6 {
  background-image: url("./playingCards/club-6.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.club-7 {
  background-image: url("./playingCards/club-7.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.club-8 {
  background-image: url("./playingCards/club-8.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.club-9 {
  background-image: url("./playingCards/club-9.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.club-10 {
  background-image: url("./playingCards/club-10.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.club-11 {
  background-image: url("./playingCards/club-11.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.club-12 {
  background-image: url("./playingCards/club-12.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.club-13 {
  background-image: url("./playingCards/club-13.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.spade-1 {
  background-image: url("./playingCards/spade-1.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.spade-2 {
  background-image: url("./playingCards/spade-2.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.spade-3 {
  background-image: url("./playingCards/spade-3.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.spade-4 {
  background-image: url("./playingCards/spade-4.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.spade-5 {
  background-image: url("./playingCards/spade-5.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.spade-6 {
  background-image: url("./playingCards/spade-6.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.spade-7 {
  background-image: url("./playingCards/spade-7.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.spade-8 {
  background-image: url("./playingCards/spade-8.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.spade-9 {
  background-image: url("./playingCards/spade-9.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.spade-10 {
  background-image: url("./playingCards/spade-10.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.spade-11 {
  background-image: url("./playingCards/spade-11.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.spade-12 {
  background-image: url("./playingCards/spade-12.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.spade-13 {
  background-image: url("./playingCards/spade-13.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.diamond-1 {
  background-image: url("./playingCards/diamond-1.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.diamond-2 {
  background-image: url("./playingCards/diamond-2.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.diamond-3 {
  background-image: url("./playingCards/diamond-3.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.diamond-4 {
  background-image: url("./playingCards/diamond-4.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.diamond-5 {
  background-image: url("./playingCards/diamond-5.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.diamond-6 {
  background-image: url("./playingCards/diamond-6.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.diamond-7 {
  background-image: url("./playingCards/diamond-7.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.diamond-8 {
  background-image: url("./playingCards/diamond-8.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.diamond-9 {
  background-image: url("./playingCards/diamond-9.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.diamond-10 {
  background-image: url("./playingCards/diamond-10.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.diamond-11 {
  background-image: url("./playingCards/diamond-11.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.diamond-12 {
  background-image: url("./playingCards/diamond-12.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.diamond-13 {
  background-image: url("./playingCards/diamond-13.png");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 216.225px;
  width: 125px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

.hide {
  background-image: url(/styles/playingCards/card-back.png);
}
/*# sourceMappingURL=style.css.map */